footer {
    margin-top: 4rem;
    margin-bottom: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;

    color: var(--text-secondary, #333);
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Alice';
    line-height: 1.5;
}